<!DOCTYPE html>
<html>
  <head>
    <title>GoalApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

    <% if logged_in? %>
    <form action="<%= sessions_url %>" method="POST">
    <%= render 'form_auth' %>
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Logout">
    </form>
    <% end %>
    <%= yield %>
  </body>
</html>
